!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en"}
  %head
    %title== FTANG!
    :javascript
      if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)))
        {
          location.href='/iphone';
        }
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/jplayer.css"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/jqueryhoverIntent.js" }
    %script{:type => "text/javascript", :src => "/js/jquery.listnav-2.0.js"}
    %script{:type => "text/javascript", :src => "/js/jquery.jplayer.min.js"}
    %script{:type => "text/javascript", :src => "/js/ftang.js"}

  %body
    #header
      %h1.home_nav
        FTANG!
      #header_artist
        %span
          &gt;
        %h1
      #header_album
        %span
          &gt;
        %h1
      #toggle_playlist
        %span= "toggle playlist"
      #jquery_jplayer_1.jp-jplayer
      .jp-audio
        .jp-type-single
          #jp_interface_1.jp-interface
            %ul.jp-controls
              %li
                %a.jp-play{:href => "#"}
                  play
              %li
                %a.jp-pause{:href => "#"}
                  pause
              %li
                %a.jp-stop{:href => "#"}
                  stop
              %li
                %a.jp-mute{:href => "#"}
                  mute
              %li
                %a.jp-unmute{:href => "#"}
                  unmute
              %li#ctrl_prev
                previous
              %li#ctrl_next
                next
            .jp-current-time
            .jp-duration
            .jp-progress
              .jp-seek-bar
                .jp-play-bar
            .jp-volume-bar
              .jp-volume-bar-value
    #content
    #playlist
      #playlist_list
        %ul
        #clear_playlist
          clear playlist
    #loading
      %img{:src => 'images/loading.gif', :class => "loader"}
    #add_album_to_playlist
      .view_songs_in_album
      .add_album_to_playlist
        %img{:src => "images/add.png"}
        %span
          Add to playlist
