!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en"}
  %head
    %title== FTANG!
    :javascript
      if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)))
        {
          location.href='/iphone';
        }
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/jplayer.css"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/jqueryhoverIntent.js" }
    %script{:type => "text/javascript", :src => "/js/jquery.listnav-2.0.js"}
    %script{:type => "text/javascript", :src => "/js/jquery.jplayer.min.js"}
    %script{:type => "text/javascript", :src => "/js/ftang.js"}
    %script{:type => "text/javascript", :src => "/js/socketz.js"}

  %body
    #header
      %h1.home_nav
        FTANG!
      #header_artist
        %span
          >
        %h1
      #header_album
        %span
          >
        %h1
      #toggle_playlist
        %span= "toggle playlist"
      #jquery_jplayer
      #player_container
        %ul#player_controls
          %li#jplayer_play
            play
          %li#jplayer_pause
            pause
          %li#jplayer_stop
            stop
          %li#jplayer_volume_min
            min volume
          %li#jplayer_volume_max
            max volume
          %li#ctrl_prev
            previous
          %li#ctrl_next
            next
        #play_time
        #total_time
        #player_progress
          #jplayer_load_bar
            #jplayer_play_bar
        #jplayer_volume_bar
          #jplayer_volume_bar_value
    #content
    #playlist
      #playlist_list
        %ul
        #clear_playlist
          clear playlist
    #loading
      %img{:src => 'images/loading.gif', :class => "loader"}
    #add_album_to_playlist
      .view_songs_in_album
      .add_album_to_playlist
        %img{:src => "images/add.png"}
        %span
          Add to playlist
