!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en"}
  %head
    %title== FTANG!
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/jplayer.css"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"}
    %script{:src => "/js/socket.io.6.js"}
    %script{:src => "/js/socketz.js"}

  %body
    #header
      %h1.home_nav
        SOCKETZ@@@
    #msg

